<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CHALLING</title>
  </head>
  <body>
    <!-- トップページ -->
    <%= image_tag("CHALLINGLogo.png", :class => "title-logo") %>
    <div class="button-wrap">
        <div class="button" id="buttonL">
            Sign Up
        </div>
        <div class="button" id="buttonR">
            Sing In
        </div>
        <p class="buttonText" id="buttonTextL">
            はじめての方
        </p>
        <p class="buttonText" id="buttonTextR">
            アカウントをお持ちの方
        </p>
    </div>
    
    <!-- Sign Up -->
    <div class="signup">
        <p class="signuptext">新規登録します<br>
        メールアドレスとパスワードを<br>
        入力してください</p>
        <%= form_for("/home/top") do |f| %>
           <%= f.label :name %>
        <textarea name="name"></textarea>
           <%= f.submit "Create my account", class: "btn btn-primary" %>
        <% end %>
<!--        <form>-->
<!--            <input type="text" name="email" placeholder="Email Address" class="textbox" />-->
<!--        </form>-->
<!--        <form>-->
<!--            <input type="password" name="pass" placeholder="Password" class="textbox" />-->
<!--        </form>-->
<!--        <form>-->
<!--            <input type="password" name="passRe" placeholder="Password(確認用)" class="textbox" />-->
<!--        </form>-->
<!--        <div class="button">-->
<!--            <a href="./savings/main">Sign Up</a>-->
<!--        </div>-->
    </div>
      
    <!-- Sign In -->
    <div class="signin">
        <p class="signintext">ログインします<br>
        メールアドレスとパスワードを<br>
        入力してください</p>
        <form>
            <input type="text" name="email" placeholder="Email Address" class="textbox" />
        </form>
        <form>
            <input type="password" name="pass" placeholder="Password" class="textbox" />
        </form>
        <div class="button">
            <a href="./savings/main">Sign In</a>
        </div>
    </div>
    
    <!-- グレーアウト -->
    <div id="overlay"></div>
    
    <!-- フッター -->
    <footer>
        <%= image_tag("neko.png") %>
    </footer>
  </body>
</html>
