<%= form_with(model: saving, local: true) do |form| %>
  <% if saving.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(saving.errors.count, "error") %> prohibited this saving from being saved:</h2>

      <ul>
      <% saving.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :target %>
    <%= form.text_field :target %>
  </div>

  <div class="field">
    <%= form.label :current %>
    <%= form.text_field :current %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
