<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CHALLING</title>
  </head>
  <body>
    <!-- ヘッダー -->
    <header>
      <div class="header-logo">
        <a href="/"><%= image_tag("CHALLINGLogos.png", :class => "header-logo") %></a>
      </div>
      <div class="mypage">
          <%= image_tag("staff.png", :class => "mypage-icon") %>
          <%= link_to "マイページ", "/savings/mypage/#{@user_id}" %>
      </div>
    </header>
    <%= @user.name %>
    <!-- 貯金額の表示・入力 -->
    <div class="savings-wrap">
        <p class="title" id="now-title">現在の貯金</p>
        <p class="value" id="now-value"><%= @savings_current %> yen</p>
        <p class="title" id="goal-title">目標金額</p>
        <p class="value" id="goal-value"><%= @savings_target %> yen</p>

        <%= form_for("saving") do |f| %>
            <%= f.text_field :current, :class => "textbox", :placeholder => "数字を入力" %>
        
            <%= f.hidden_field :system_id, :value => @user_id %>

            <%= image_submit_tag "Add.png", :id => "plus" %>
        <% end %>
    </div>

    <!-- フッター -->
    <footer>
        <%= image_tag("neko.png") %>
    </footer>
  </body>
</html>
