<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CHALLING</title>
  </head>
  <body>
    <!-- ヘッダー -->
    <header>
      <div class="header-logo">
        <a href="/"><%= image_tag("CHALLINGLogos.png", :class => "header-logo") %></a>
      </div>
      <div class="mypage">
          <%= image_tag("staff.png", :class => "mypage-icon") %>
          <%= link_to "マイページ", "/savings/mypage/#{@user_id}" %>
      </div>
    </header>
    <!-- 目標額入力 -->
    <div class="savings-wrap">

        <%= form_for("saving") do |f| %>
            <%= f.text_field :target, :class => "textbox", :placeholder => "目標金額を入力" %>
        
            <%= f.hidden_field :system_id, :value => @user_id %>

            <%= image_submit_tag "Add.png", :id => "plus" %>
        <% end %>
    </div>
      
    <div class="button" id="back">
        <%= link_to "戻る", :back %>
    </div>

    <!-- フッター -->
    <footer>
        <%= image_tag("neko.png") %>
    </footer>
  </body>
</html>
